---
export interface Props {
  title: string;
  description: string;
  imageSrc?: string;
  imageAlt?: string;
  imageWidth?: number;
  imageHeight?: number;
  imageClass?: string;
}

const { title, description, imageSrc, imageAlt = "Logo", imageWidth, imageHeight, imageClass = "h-36 w-auto" } = Astro.props;
---

<div class="mx-auto max-w-4xl text-center py-6 px-4 sm:px-6">
  {imageSrc && (
    <div class="flex justify-center mb-2">
      <img alt={imageAlt} class={imageClass} src={imageSrc} width={imageWidth} height={imageHeight} />
    </div>
  )}
  <h2 set:html={title} />
  <p class="mx-auto mt-6 max-w-3xl" set:html={description}>
</div>