---
import shapesUrl from '../../assets/svg/shapes.svg?url';
import circleUrl from '../../assets/svg/circle.svg?url';

const shapesSrc = shapesUrl;
const circleSrc = circleUrl;

interface Props {
  heading: string;
  button: string;
  link: string;
  bgColor?: string;
}

const {
  heading,
  button,
  link,
} = Astro.props;
---

<section class="cta">
  <div
    class="cta-inner"
    style={`background-image: url('${shapesSrc}'), url('${circleSrc}');`}
  >
    <div class="cta-container">

      <div class="cta-content">
        <h3 class="cta-heading">{heading}</h3>
      </div>

      <div class="cta-action">
        <a
          class="btn btn-cta-white"
          href={link}
        >
          {button}
        </a>
      </div>

    </div>
  </div>
</section>