---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  buttonText?: string;
  buttonLink?: string;
  buttonTarget?: string;
  imageSrc: ImageMetadata;
  imageAlt: string;
  imagePosition: "left" | "right";
}

const {
  title,
  description,
  buttonText,
  buttonLink,
  buttonTarget,
  imageSrc,
  imageAlt,
  imagePosition,
} = Astro.props;

const isImageLeft = imagePosition === "left";
const showButton = buttonText && buttonLink;
---

<div class="overflow-hidden py-8 sm:py-8">
  <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 gap-x-16 gap-y-7 sm:gap-y-24 lg:grid-cols-2 lg:items-center"
    >
      <!-- Image Section -->
      <div
        class={`sm:px-6 lg:px-0 ${isImageLeft ? "order-1 md:order-1" : "order-1 md:order-2"}`}
      >
        <div class="overflow-hidden md:rounded-tr-4xl md:rounded-bl-4xl">
          <Image
            src={imageSrc}
            alt={imageAlt}
            sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 500px"
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>

      <!-- Content Section -->
      <div
        class={`px-3 sm:px-6 lg:px-0 lg:pt-4 ${isImageLeft ? "order-2 md:order-2" : "order-2 md:order-1"}`}
      >
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
          <h3>{title}</h3>
          <div class="mt-2" set:html={description} />

          {
            showButton && (
              <div class="mt-8">
                <a
                  href={buttonLink}
                  target={buttonTarget || "_self"}
                  rel={
                    buttonTarget === "_blank"
                      ? "noopener noreferrer"
                      : undefined
                  }
                  class="inline-block btn btn-secondary"
                >
                  {buttonText}
                </a>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
